:root {
    --font-primary: 'Roboto';
    --font-secondary: 'Lato';
    --white: #FAFAFA;
    --gray: #C1C7C9;
    --black: #000000;
}

/* Add your CSS code below */
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,83,1) 35%, rgba(17,111,191,1) 100%);
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white);
}

body::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 8px;
    border-right: 2px solid var(--white);
}

h1 {
    color: var(--white);
    font-size: 80px;
}

main {
    width: 100%;
}

.buscador {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.buscador > div {
    width: 100%;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 600px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
}

.searchBtn {
    margin: 0 10px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
}

.filtros {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtros > p {
    font-size: 20px;
}

.filtros > select {
    font-size: 18px;
}

table {
    background-color: rgba(27, 27, 27, 0.116);
    color: var(--white);
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
}

thead {
    border-bottom: var(--gray) 2px solid;
}

tbody > tr > th {
    font-size: 18px;
}

tr > td {
    font-size: 18px;
    text-align:center;
}

.description {
    text-align: justify;
}